<div *ngIf="schema">
    <md-list>
        <md-list-item class="md-1-line" [routerLink]="['/', schema]">
            <i md-icon class="material-icons">description</i>
            <div class="md-list-item-text">Description</div>
        </md-list-item>

        <div *ngIf="hasTables()">
            <md-subheader class="md-subheader">Tables</md-subheader>
        </div>
        <md-list-item class="md-1-line" *ngFor="let table of tables" md-ink [routerLink]="['/', schema, 'table', table]">
            <i md-icon class="material-icons">storage</i>
            <div class="md-list-item-text">{{table}}</div>
        </md-list-item>

        <div *ngIf="hasTypes()">
            <md-subheader class="md-subheader">Types</md-subheader>
        </div>
        <md-list-item class="md-1-line" *ngFor="let type of types" md-ink [routerLink]="['/', schema, 'type', type]">
            <i md-icon class="material-icons">list</i>
            <div class="md-list-item-text">{{type}}</div>
        </md-list-item>

        <div *ngIf="hasEnums()">
            <md-subheader class="md-subheader">Enums</md-subheader>
        </div>
        <md-list-item class="md-1-line" *ngFor="let enum of enums" md-ink [routerLink]="['/', schema, 'enum', enum ]">
            <i md-icon class="material-icons">list</i>
            <div class="md-list-item-text">{{enum}}</div>
        </md-list-item>

        <div *ngIf="hasFunctions()">
            <md-subheader class="md-subheader">Functions</md-subheader>
        </div>
        <md-list-item class="md-1-line" *ngFor="let function of functions" [routerLink]="['/', schema, 'function', function ]">
            <i md-icon class="material-icons">functions</i>
            <div class="md-list-item-text">{{function}}</div>
        </md-list-item>
    </md-list>
</div>
