<div class="topdiv" *ngIf="schema">
    <md-nav-list>
        <md-list-item [routerLink]="['/', schema]">Description</md-list-item>

        <template [ngIf]="hasTables()">
            <md-divider></md-divider>
            <h3 md-subheader class="md-subheader">Tables</h3>
            <md-list-item *ngFor="let table of tables" [routerLink]="['/', schema, 'table', table]">
                {{table}}
            </md-list-item>
        </template>

        <template [ngIf]="hasTypes()">
            <md-divider></md-divider>
            <h3 md-subheader class="md-subheader">Types</h3>
            <md-list-item class="md-1-line" *ngFor="let type of types" md-ink [routerLink]="['/', schema, 'type', type]">
                {{type}}
            </md-list-item>
        </template>

        <template [ngIf]="hasEnums()">
            <md-divider></md-divider>
            <h3 md-subheader class="md-subheader">Enums</h3>
            <md-list-item class="md-1-line" *ngFor="let enum of enums" md-ink [routerLink]="['/', schema, 'enum', enum ]">
                {{enum}}
            </md-list-item>
        </template>

        <template [ngIf]="hasFunctions()">
            <md-divider></md-divider>
            <h3 md-subheader class="md-subheader">Functions</h3>
            <md-list-item class="md-1-line" *ngFor="let function of functions" [routerLink]="['/', schema, 'function', function ]">
                {{function}}
            </md-list-item>
        </template>

    </md-nav-list>
</div>